# Athena 魔法命令

athena包目前支持的魔法命令有：

* flink：用于加载pyflink环境
* alink：用于加载alink环境

注：**魔法命令alink与flink不能混用，因为二者的环境会互相影响。如有需要，请在不同的notebook中使用**。
在本文档中测试，需要在切换环境时重启内核。

In [5]:
# %load_ext athenamagics
# 用于加载athena魔法命令扩展包，通过在ipython_config.py中配置，可以自动加载。

## 1. %%flink 魔法命令

通常加载pyflink环境需要如下设置：
```python
from pyflink.table import *

environment_settings = EnvironmentSettings.new_instance().in_batch_mode().use_blink_planner().build()
t_env = BatchTableEnvironment.create(environment_settings=environment_settings)
t_env.get_config().get_configuration()
.set_string("parallelism.default", "1")
.set_string()
...
```

为了方便，我们提供一个魔法`%%flink`用于代替执行上述代码，使用方式：
```
%flink

```
或者
```
%%flink
[--env_name <bt_env_name>] default=t_env
[--conf <key>=<value>]
[--conf <key>=<value>]
...
```

若无特别需要，通常不需要进行参数设置。
**'%flink'** 即可。

**使用示例**

In [2]:
%flink

                         变量名
BatchTableEnvironment  t_env

In [3]:
%%flink
--env_name t_env
--conf parallelism.default=1

                         变量名
BatchTableEnvironment  t_env

In [4]:
table07 = t_env.from_elements([(1, 2), (2, 3), (3, 4)], ['id','data'])
table07.to_pandas()

   id  data
0   1     2
1   2     3
2   3     4

## 2. %%alink 魔法命令

通常加载alink环境需要如下设置：
```python
from pyalink.alink import *
benv, btenv, senv, stenv = useLocalEnv(1, flinkHome=None, config=None)
# or
benv btenv senv stenv = getMLEnv()
```

为了方便，我们同样提供一个魔法`%%alink`用于代替执行上述代码，使用方式：
```
%alink

```
或者
```
%%alink
[--flinkHome path_to_your_flink_home]
[--conf <key>=<value>]
[--conf <key>=<value>]
...
```

若无特别需要，通常不需要进行参数设置。
**'%alink'** 即可。

In [1]:
%alink

JVM listening on 127.0.0.1:54460

                              变量名
ExecutionEnvironment          env
BatchTableEnvironment       btenv
StreamExecutionEnvironment   senv
StreamTableEnvironment      stenv

In [3]:
%%alink
--conf parallelism=1

                              变量名
ExecutionEnvironment          env
BatchTableEnvironment       btenv
StreamExecutionEnvironment   senv
StreamTableEnvironment      stenv

In [4]:
from pyalink.alink import *
t = stenv.from_elements([(1, 2), (2, 5), (3, 1)], ['a', 'b'])
source = TableSourceStreamOp(t)
source.print()
StreamOperator.execute()

'DataStream 9493679db68a45d5a974c1143b43832f : ( Updated on 2021-07-09 14:49:07, #items received: 3 )'

   a  b
0  1  2
1  2  5
2  3  1